.cards{
    @media (width <= $breakpoint-md){
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: var(--spacing-md);
    }

    @media (width <= $breakpoint-sm){
        display: block;
    }
}


.card{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--spacing-md);
    align-items: center;
    padding: 25px 0;

    &:nth-child(even){
        .card__content{
            order: -1;
        }
    }

    @media (width <= $breakpoint-md){
        display: block;
        padding: 50px 0;
        
        .card__content{
            padding-top: var(--spacing-md);
        }

        &:nth-child(even){
            .card__content{
                order: unset;
            }
        }
    }
}

.card__content{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: var(--spacing-md);
    
    h3, p, a{
        margin: 0;
    }

    .tag{
        font-size: 18px;
        color: rgba($color: #ffffff, $alpha: 1.0);
    }
}

.card__media{
    aspect-ratio: 595/490;
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;

        display: block;
    }
}