.header{
    padding: 25px 0;
    text-align: center;
    background: rgba($color: #000000, $alpha: .7);

    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 2;

    a{
        color: var(--color-white);
    }
}