.hero{
    position: relative;
    height: 80vh;

    .wrapper{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        height: 100%;
    }

    @media (width <= $breakpoint-md){
        height: 60vh;
    }
}

.hero__content{
    color: var(--color-white);
}

.hero__media{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    z-index: -1;

    img{
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}